body {
    background-image: linear-gradient(#f6d99c, #e9723a);
}

ul {
    list-style-type: none;
    padding: 0;
  }

li {
    font-size: x-large;
}

.wrapper {
    max-width: 25rem;
    margin: auto;
}
