body {
    background-image: linear-gradient(#f6d99c, #e9723a);
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
  }

li {
    font-size: xx-large;
    padding: .5rem 0 .5rem 0;
}

.wrapper {
    max-width: 25rem;
    margin: auto;
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
}
