body {
    background-image: linear-gradient(#f6d99c, #e9723a);
}

.btn {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    margin-right: auto;
    padding-right: 1rem;
}

span {
    margin-right: auto;
}

.text-bg-violet {
    color: #fff !important;
    background-color: #e592d2;
}