body {
    background-image: linear-gradient(#f6d99c, #e9723a);
}

i {
    padding-right: .5rem;
}

.btn-group-vertical a.btn {
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn i {
    margin-right: auto;
}

.btn span {
    margin-right: auto;
}